
  <div class="page page_wrap one-page-enabled theme-style-classic theme-style-dark">
      <!-- Preloader -->
      <div class="preloader">
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="spinner  box-rotation"></div>
          </div>
        </div>
      </div>
      <!-- background -->
      <%- include(`../partials/background`) %>
      
      <!-- Container -->
      <div class="container opened border-icons-style" data-animation-in="fadeInUp" data-animation-out="fadeOutUp">
        <!-- Header -->
        <%- include(`../partials/header`) %>
        
        <!-- Card - Started -->
        <div class="card-started" id="home-card">
          <!-- Profile -->
          <%- include(`../partials/profile`) %>
        </div>

        <div class="s_overlay"></div>
        <div class="content-sidebar">
          <%- include(`../partials/sidebar`) %>
          
          <span class="close"></span>
        </div>

        <div class="card-inner animated active" id="card-home">
          <div class="card-wrap">
            <div id="post-151" class="post-151 page type-page status-publish hentry">
              <div data-elementor-type="wp-page" data-elementor-id="151" class="elementor elementor-151">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-1368f2f elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="1368f2f" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8d69b8b" data-id="8d69b8b" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-b939dc4 elementor-widget elementor-widget-ryancv-about-me" data-id="b939dc4" data-element_type="widget" data-widget_type="ryancv-about-me.default">
                          <div class="elementor-widget-container">
                            <!-- About -->

                            <%- include(`../partials/about`) %>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-ac2a78f elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="ac2a78f" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-15d3f26" data-id="15d3f26" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-7412363 elementor-widget elementor-widget-ryancv-services" data-id="7412363" data-element_type="widget" data-widget_type="ryancv-services.default">
                          <div class="elementor-widget-container">
                            <!-- Services -->
                            <%- include(`../partials/services`) %>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-4ab94b5 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4ab94b5" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7bb6851" data-id="7bb6851" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-cd90f3f elementor-widget elementor-widget-ryancv-pricing" data-id="cd90f3f" data-element_type="widget" data-widget_type="ryancv-pricing.default">
                          <div class="elementor-widget-container">
                            <!-- Price Tables -->
                            <%- include(`../partials/pricing`) %>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- Clients -->
                <!-- <section class="elementor-section elementor-top-section elementor-element elementor-element-0452329 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="0452329" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-07fff22" data-id="07fff22" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-24493e4 elementor-widget elementor-widget-ryancv-clients" data-id="24493e4" data-element_type="widget" data-widget_type="ryancv-clients.default">
                          <div class="elementor-widget-container">
                            <%include(`../partials/clients`) %>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section> -->
                <!-- Testimonials -->
                <!-- <section class="elementor-section elementor-top-section elementor-element elementor-element-49a456d elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="49a456d" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-48066de" data-id="48066de" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-32a9446 elementor-widget elementor-widget-ryancv-testimonials" data-id="32a9446" data-element_type="widget" data-widget_type="ryancv-testimonials.default">
                          <div class="elementor-widget-container">
                            <% include(`../partials/testimonials`) %>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section> -->
                <section class="elementor-section elementor-top-section elementor-element elementor-element-18b4760 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="18b4760" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-094a289" data-id="094a289" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-35e1624 elementor-widget elementor-widget-ryancv-fun-facts" data-id="35e1624" data-element_type="widget" data-widget_type="ryancv-fun-facts.default">
                          <div class="elementor-widget-container">
                            <!-- Fun Fact -->
                            <%- include(`../partials/fact`) %>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- #post-151 -->
          </div>
        </div>
        <div class="card-inner" id="card-resume">
          <div class="card-wrap">
            <div id="post-41" class="post-41 page type-page status-publish hentry">
              <div data-elementor-type="wp-page" data-elementor-id="41" class="elementor elementor-41">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-59895bb elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="59895bb" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-be20ba8" data-id="be20ba8" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-26b97d8 elementor-widget elementor-widget-ryancv-custom-text" data-id="26b97d8" data-element_type="widget" data-widget_type="ryancv-custom-text.default">
                          <div class="elementor-widget-container">
                            <!-- Custom Text -->
                            <div class="content custom-text">
                              <!-- title -->
                              <div class="title">
                                <span>Resume</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-2926877 elementor-section-full_width row elementor-section-height-default elementor-section-height-default" data-id="2926877" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-24104fa col" data-id="24104fa" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-a38a935 elementor-widget elementor-widget-ryancv-resume" data-id="a38a935" data-element_type="widget" data-widget_type="ryancv-resume.default">
                          <div class="elementor-widget-container">
                            <!-- resume item experience -->
                            <%- include(`../partials/resume/resume-experience`) %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-845c1d0 col border-line-v" data-id="845c1d0" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-a64937a elementor-widget elementor-widget-ryancv-resume" data-id="a64937a" data-element_type="widget" data-widget_type="ryancv-resume.default">
                          <div class="elementor-widget-container">
                            <!-- resume item -->
                            <%- include(`../partials/resume/resume-education`) %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-0631c8a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="0631c8a" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-573fdc8" data-id="573fdc8" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-3952aad elementor-widget elementor-widget-spacer" data-id="3952aad" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-deefe3f elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="deefe3f" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8ec419d" data-id="8ec419d" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-cae1473 elementor-widget elementor-widget-ryancv-custom-text" data-id="cae1473" data-element_type="widget" data-widget_type="ryancv-custom-text.default">
                          <div class="elementor-widget-container">
                            <!-- Custom Text -->
                            <div class="content custom-text">
                              <!-- title -->
                              <div class="title">
                                <span>Skills</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-77e9f37 elementor-section-full_width row elementor-section-height-default elementor-section-height-default" data-id="77e9f37" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-552e9ac col" data-id="552e9ac" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-fd65c59 elementor-widget elementor-widget-ryancv-skills" data-id="fd65c59" data-element_type="widget" data-widget_type="ryancv-skills.default">
                          <div class="elementor-widget-container">
                            <!-- skill item -->
                            <%- include(`../partials/skill/skill-coding`) %>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3238565 col border-line-v" data-id="3238565" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-7b18142 elementor-widget elementor-widget-ryancv-skills" data-id="7b18142" data-element_type="widget" data-widget_type="ryancv-skills.default">
                          <div class="elementor-widget-container">
                            <!-- skill item -->
                            <%- include(`../partials/skill/skill-knowledge`) %>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-f74ec84 elementor-section-full_width row elementor-section-height-default elementor-section-height-default" data-id="f74ec84" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c60c53c col" data-id="c60c53c" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-2808be1 elementor-widget elementor-widget-ryancv-skills" data-id="2808be1" data-element_type="widget" data-widget_type="ryancv-skills.default">
                          <div class="elementor-widget-container">
                            <!-- skill item -->
                            <%- include(`../partials/skill/skill-frontend`) %>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9170935 col border-line-v" data-id="9170935" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-af7804b elementor-widget elementor-widget-ryancv-skills" data-id="af7804b" data-element_type="widget" data-widget_type="ryancv-skills.default">
                          <div class="elementor-widget-container">
                            <!-- skill item -->
                            <%- include(`../partials/skill/skill-language`) %>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-d0f4f70 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d0f4f70" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fab72a6" data-id="fab72a6" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-6309109 elementor-widget elementor-widget-spacer" data-id="6309109" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-96b3ac3 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="96b3ac3" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-596e4a2" data-id="596e4a2" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-4be0050 elementor-widget elementor-widget-ryancv-quote" data-id="4be0050" data-element_type="widget" data-widget_type="ryancv-quote.default">
                          <div class="elementor-widget-container">
                            <!-- Quote -->
                            <div class="content quote">
                              <!-- title -->
                              <div class="title">
                                <span>Quote</span>
                              </div>
                              <!-- content -->
                              <div class="row">
                                <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                  <div class="revs-item">
                                    <div class="text">
                                      <div> 
                                        "You can't just ask customers what they want and then try to give that to them. By the time you get it built, they'll want something new."
                                      </div>
                                    </div>
                                    <div class="user">
                                      <div class="img">
                                        <noscript>
                                          <img decoding="async" src="images/steve.jpeg" alt="Steve Jobs" />
                                        </noscript>
                                        <img class="lazyload" decoding="async" src='data:image/svg+xml,%3Csvg%20
																																													xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="images/steve.jpeg" alt="Steve Jobs" />
                                      </div>
                                      <div class="info">
                                        <div class="name"><i>Steve Jobs</i></div>
                                        <div class="company">former Apple CEO</div>
                                      </div>
                                      <div class="clear"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="clear"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- #post-41 -->
          </div>
        </div>
        <div class="card-inner" id="card-works">
          <div class="card-wrap">
            <div id="post-46" class="post-46 page type-page status-publish hentry">
              <div data-elementor-type="wp-page" data-elementor-id="46" class="elementor elementor-46">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-484379f elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="484379f" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f31adcd" data-id="f31adcd" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-91b90f8 elementor-widget elementor-widget-ryancv-portfolio" data-id="91b90f8" data-element_type="widget" data-widget_type="ryancv-portfolio.default">
                          <div class="elementor-widget-container">
                            <!-- Works -->
                            <div class="content works-grid works ">
                              <!-- title -->
                              <div class="title">
                                <span>Works</span>
                              </div>
                              <!-- filters -->
                              <div class="filter-menu filter-button-group">
                                <div class="f_btn active">
                                  <label>
                                    <input type="radio" name="fl_radio" value=".grid-item" />All </label>
                                </div>
                                <div class="f_btn">
                                  <label>
                                    <input type="radio" name="fl_radio" data-cat-id="30" value=".f-video" />Video </label>
                                </div>
                                <div class="f_btn">
                                  <label>
                                    <input type="radio" name="fl_radio" data-cat-id="29" value=".f-link" />Link </label>
                                </div>
                                <div class="f_btn">
                                  <label>
                                    <input type="radio" name="fl_radio" data-cat-id="28" value=".f-image" />Image </label>
                                </div>
                                <div class="f_btn">
                                  <label>
                                    <input type="radio" name="fl_radio" data-cat-id="27" value=".f-gallery" />Gallery </label>
                                </div>
                                <div class="f_btn">
                                  <label>
                                    <input type="radio" name="fl_radio" data-cat-id="24" value=".f-content" />Content </label>
                                </div>
                              </div>
                              <!-- content -->
                              <div class="row grid-items border-line-v columns-2">


                                <% items.forEach(item => { %>
                                  <% if (item.status === 1) { %>
                                      <!-- Include the item based on its slug -->
                                      <%- include(`../partials/work-items/${item.slug}`) %>
                                  <% } %>
                              <% }); %>

                                <div class="clear"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- #post-151 -->
          </div>
        </div>
        <div class="card-inner" id="card-blog">
          <div class="card-wrap">
            <div id="post-50" class="post-50 page type-page status-publish hentry">
              <div data-elementor-type="wp-page" data-elementor-id="50" class="elementor elementor-50">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-2baaf94 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2baaf94" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6200bb" data-id="e6200bb" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-3148a7f elementor-widget elementor-widget-ryancv-blog" data-id="3148a7f" data-element_type="widget" data-widget_type="ryancv-blog.default">
                          <div class="elementor-widget-container">
                            <!-- Blog -->
                            <%- include(`../partials/blog`) %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- #post-151 -->
          </div>
        </div>
        <div class="card-inner" id="card-contact">
          <div class="card-wrap">
            <div id="post-53" class="post-53 page type-page status-publish hentry">
              <div data-elementor-type="wp-page" data-elementor-id="53" class="elementor elementor-53">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-22b6cc0 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="22b6cc0" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7400cb2" data-id="7400cb2" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-bc6e79d elementor-widget elementor-widget-ryancv-custom-text" data-id="bc6e79d" data-element_type="widget" data-widget_type="ryancv-custom-text.default">
                          <div class="elementor-widget-container">
                            <!-- Custom Text -->
                            <div class="content custom-text">
                              <!-- title -->
                              <div class="title">
                                <span>Get in Touch</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-b1f83ef elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="b1f83ef" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e9080bc" data-id="e9080bc" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-5fa6e40 elementor-widget elementor-widget-google_maps" data-id="5fa6e40" data-element_type="widget" data-widget_type="google_maps.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-custom-embed">
                              <iframe loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&#038;t=m&#038;z=16&#038;output=embed&#038;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <%- include(`../partials/contact-details`) %>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-3fc0411 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="3fc0411" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7d1ea59" data-id="7d1ea59" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-30bf3ee elementor-widget elementor-widget-spacer" data-id="30bf3ee" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-d642373 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d642373" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1b1aebf" data-id="1b1aebf" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-6e2ae54 elementor-widget elementor-widget-ryancv-cf7-form" data-id="6e2ae54" data-element_type="widget" data-widget_type="ryancv-cf7-form.default">
                          <div class="elementor-widget-container">
                            <!-- Contact Form -->
                            <%- include(`../partials/contact-form`) %>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- #post-53 -->
          </div>
        </div>
        <div class="card-inner" id="card-products">
          <div class="card-wrap">
            <div id="post-326" class="post-326 page type-page status-publish hentry">
              <div data-elementor-type="wp-page" data-elementor-id="326" class="elementor elementor-326">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-f85de56 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="f85de56" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ab6d230" data-id="ab6d230" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-fa11d88 elementor-widget elementor-widget-ryancv-products" data-id="fa11d88" data-element_type="widget" data-widget_type="ryancv-products.default">
                          <div class="elementor-widget-container">
                            <!-- Products -->
                            <%- include(`../partials/products`) %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- #post-151 -->
          </div>
        </div>
      </div>
    </div>
  